*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.toolbox-cont{
    display: flex;
    align-items: center;
    height:5rem;
   background-color: #4b4b4b;
}
.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: grey;
    margin-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

}
.color{
    height: 1.5rem;
    width: 3rem;
    background-color: black;

}
.lightpink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}
.action-btn-cont{
    margin-left: 3rem;
    height: 3.5rem;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}
.action-btn-cont>*{
    width: 50%;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.main-cont{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.ticket-cont{
    height:  12rem;
    width:  15rem;
    background-color: coral;
}
.ticket-color{
background-color: lightpink;
height: 1.5rem;
}
.ticket-id{
    background-color: yellow;
    height: 1.8rem;
}
.ticket-lock{
    display: flex;
    justify-content: end;
   margin-top: 5.8rem;
   font-size: 1.4rem;
}
.modal-cont{
    height: 25vh;
    width: 45vw;
    display: none;
    background-color: grey;
    position: absolute;
    top: 30%;
    left:27%;

}
.textArea-cont{
    background-color: antiquewhite;
    height: 100%;
    width: 70%;
    resize: none;
    font-size: 2rem;
}
.priority-color{
    height: 3rem;
    width: 5rem;
}
.priority-colors-container{
    height: 100%;
    width: 30%;
    background-color: #4b4b4b;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.active{
    border: 3px solid red;
}
